.erreur {
    font-style: normal;
    font-family: 'Montserrat';
    color: #FF6060;
    line-height:400px ;
}
.erreur h1{
    font-weight: 700;
    font-size: 288px;
    margin: 0;
}
.erreur p{
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}
.erreur_infos_return{
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    color: #FF6060;
    margin: 0;
}

@media (max-width: 768px) {
.erreur h1 {
font-size: 98px;
} 
.erreur {
    line-height: 200px;
}
.erreur p {
font-size: 18px;
line-height: 1.2;
padding: 40px;
}  
.erreur_infos_return{
    font-size: 14px;
}
}