.img-show{
  display: block;
  object-fit: cover;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}

.slideshow {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-count {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-bottom: 40px;
  
}
.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@media (max-width: 768px) {
  .img-show {
    height: 255px;
    width: 95vw;
    
  }
.slideshow{
  height: 255px;
  width: 100vw;
}
.image-count {
  display: none;
}
.left-arrow,
.right-arrow {
  width: 20px;

}
}