.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: white;
    height: 209px;
}
.legals{
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 10px;
}
