.left-arrow {
    filter: invert(100%);
    position: absolute; 
  }
  
.right-arrow {
    filter: invert(100%); 
    position: absolute;
  }
  .img-show{
    object-fit: cover;
    width: 1240px;
    height: 415px;
    border-radius: 25px;
}