@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  text-align: center;
}

.banner-container {
  margin: 30px auto;
  max-width: 1240px;
  height: 223px;
  position: relative;
  display: flex;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}

.title-banner {
  position: absolute;
  margin: 0;
  color: white;
  font-size: 40px;
  width: 705px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    height: auto;
    margin: 20px;
  }
  .banner-image {
    border-radius: 25;
    max-width: 100%;
    height: 110px;
  }
  .banner-abouts {
    width: 100%;
    height: 255px;
  }
  .title-banner {
    position: absolute;
    text-align: left;
    max-width: 180px;
    padding-left: 30px;
    font-size: 20px;
    left: 0%;
    transform: translate(0%, -50%);
  }
}
.card-container {
  background-color: #F6F6F6;
  max-width: 1240px;
  border-radius: 25px;
  margin: 40px auto;
}

.general-container {
  margin-left: 20px;
  margin-right: 20px;
}

.card-box {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  grid-gap: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-boxes {
  padding: 25px;
}

.card {
  cursor: pointer;
  color: white;
  font-size: 18px;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
}

.card-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}

.card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media (max-width: 768px) {
  .card-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: white;
    padding-bottom: 20px;
  }
  .card-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .card {
    width: 100%;
    height: 255px;
  }
  .card-title {
    text-align: left;
  }
}
.collapse-about {
  max-width: 1023px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.collapse-header-about {
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
  color: white;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding-left: 18px;
  padding-right: 33px;
  height: 47px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.collapse-text-about {
  color: #FF6060;
  font-size: 16px;
  background-color: #F6F6F6;
  max-width: 100%;
  padding: 30px;
  line-height: 150%;
  border-radius: 0 0 5px 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.direction-vector {
  width: 31px;
  height: 31px;
  transition: 1s ease;
}

.direction-vector.rotate {
  transform: rotate(180deg);
}

.collapse-text-about {
  max-height: 0;
  overflow: hidden;
  animation: expandText 2s ease-in-out forwards;
}

@keyframes expandText {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
@media (max-width: 768px) {
  .collapse-title-about {
    font-size: 14px;
  }
}
.collapse {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 0px;
  cursor: pointer;
  
}

.collapse-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.collapse-header {
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-size: 18px !important;
  padding-left: 18px;
  padding-right: 33px;
  height: 52px;
  border-radius: 5px;
}
.collapse-list li {
  max-height: 0;
  overflow: hidden;
  animation: expandListItem 4s ease-in-out forwards;
}


@keyframes expandListItem {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px; 
  }
}
.collapse-text {
  color: #FF6060;
  font-size: 18px !important;
  background-color: #F6F6F6;
  max-width: 100%;
  min-height: 150px;
  padding: 30px;
  line-height: 140%;
  border-radius: 0 0 5px 5px;
  text-align: left;
  
}

.collapse-list {
  color: #FF6060;
  font-size: 18px !important;
  background-color: #F6F6F6;
  list-style: none;
  max-width: 100%;
  min-height: 150px;
  padding: 30px;
  line-height: 140%;
  border-radius: 0 0 5px 5px;
  text-align: left;
}

.direction-vector {
  width: 31px;
  height: 31px;
}

.direction-vector.rotate {
  transform: rotate(180deg);
  transition: 1s ease;
}

@media (max-width: 768px) {
  .collapse {
    width: 100%;
    height: 30px;
    
  }
  .collapse-row {
    flex-direction: column;
    position: relative;
  }
  .collapse-title {
    font-size: 14px;
  }
  img.direction-vector {
    width: 16px;
    height: 10px;
  }
  .collapse-text {
    max-width: 100%;
        min-height: 0px;
  }
}
.erreur {
  font-style: normal;
  font-family: "Montserrat";
  color: #FF6060;
  line-height: 400px;
}

.erreur h1 {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
}

.erreur p {
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}

.erreur_infos_return {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  color: #FF6060;
  margin: 0;
}

@media (max-width: 768px) {
  .erreur h1 {
    font-size: 98px;
  }
  .erreur {
    line-height: 200px;
  }
  .erreur p {
    font-size: 18px;
    line-height: 1.2;
    padding: 40px;
  }
  .erreur_infos_return {
    font-size: 14px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: white;
  height: 209px;
}

.legals {
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    height: 209px;
    width: 100%;
    
  }
  .legals {
    font-size: 18px;
  }
}
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
  margin: 20px auto;
  align-items: center;
}

.header-tile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 210px;
  justify-content: space-between;
  padding-left: 20px;
}

.nav-part {
  padding-right: 20px;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 60px;
}

.link-pages {
  font-size: 24px;
  color: #FF6060;
  text-decoration: none;
}

.link-pages:hover {
  text-decoration: underline;
}

nav .active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header-container {
    min-width: 325px;
  }
  .header-tile {
    width: 145px;
    height: 45px;
  }
  .nav-ul {
    gap: 20px;
  }
  .link-pages {
    font-size: 12px;
  }
  .letter-title {
    width: 140px;
    height: 45px;
  }
}
.info-section {
  max-width: 1240px;
  color: #FF6060;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-part {
  display: flex;
  flex-direction: column;
}

.second-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 27px;
}

.Third-part {
  grid-column: span 2;
}

.title-logement {
  font-size: 36px;
  text-align: left;
}

.location {
  font-size: 18px;
  text-align: left;
  margin-top: 8px;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 24px;
}

.tags {
  font-size: 14px;
  color: white;
  background-color: #FF6060;
  min-width: 115px;
  height: 25px;
  padding-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  list-style: none;
  text-align: center;
}

.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.host-name {
  max-width: 95px;
  font-size: 18px;
  text-align: end;
}

.host-pic {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.rating-stars {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.star-icon {
  width: 24px;
  height: 25px;
}

@media (max-width: 768px) {
  .info-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .second-part {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .host-name {
    font-size: 14px;
  }
  .star-icon {
    width: 17px;
    height: 18px;
  }
  .tags {
    font-size: 10px;
    height: 18px;
    width: 84px;
    padding-left: 0;
    padding-right: 0;
  }
  .title-logement {
    font-size: 18px;
  }
  .location {
    font-size: 14px;
  }

}
.img-show {
  display: block;
  object-fit: cover;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}

.slideshow {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-count {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-bottom: 40px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@media (max-width: 768px) {
  .img-show {
    height: 255px;
    width: 95vw;
  }
  .slideshow {
    height: 255px;
    width: 100vw;
    
  }
  
  .image-count {
    display: none;
  }
  .left-arrow,
  .right-arrow {
    width: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
